{% extends "base.html" %}

{% block site_meta %}
{{ super() }}
<meta property="og:title" content="Hands-on NPI & Production Engineer — Oleksii Zhokhov">
<meta property="og:description"
    content="Hands-on NPI and production engineering for startups & SMEs. DFMA, equipment validation, SMED, and retrofits to make first runs predictable.">
<meta property="og:image" content="https://AviAlex13.github.io/npi-production-engineer/img/preview.png">
<meta property="og:url" content="https://AviAlex13.github.io/npi-production-engineer/">
<meta property="og:type" content="website">
<meta name="google-site-verification" content="SY5fp0EhZJShmq4-XIPovfqbw65R_h-VTQANkDFjf6Y" />
{% endblock %}

{% block htmlhead %}
{{ super() }}
<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NDKQV6N5');</script>
<!-- End Google Tag Manager -->
{% endblock %}

{% block content %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NDKQV6N5" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{ super() }}
{% endblock %}